In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_csv('dataset/mixed_data_preprocessed.csv')
data.sample(10)

,User,Company
2170,"@Uber_Support Thanks, I have just done this. I...","@120098 Happy to further assist you, Jenna! Se..."
1502,Whats wrong with you @115858? I can't believe ...,@123385 We're here to help. Let's take this to...
17324,Why do you make peak trains super expensive wh...,@134107 Hi Imogen. Sorry for the busy conditio...
4204,@Delta Thanks,"@126385 Terry, both of you are listed for the ..."
17083,@GWRHelp poor cs Jason Ness Manager! please re...,@132688 Hi Sarah. What is this in relation to ...
11405,@VirginTrains just to check - if I have an off...,@138498 On any Off Peak train yes. ^PA
8379,@comcastcares how do I find out why my interne...,@131880 I apologize for the disruption in your...
2934,@SpotifyCares is there an email i can message?...,"@117444 Hey, we can help here on Twitter! Coul..."
1353,@AppleSupport the I️ keeps autocorrecting to a...,@122925 Let's look in to this issue together. ...
15324,@hulu_support I suggest you guys add all other...,"@141589 Great suggestion, Gio! We'll be sure t..."

In [3]:
for i, row in data.iterrows():
    company_response_parts = row.Company.split('.')

    if(len(company_response_parts) > 1 and company_response_parts[1] != ''):
        row.Company = ' '.join(company_response_parts[1:])
    else:
        company_response_parts_exc = row.Company.split('!')
        if(len(company_response_parts_exc) > 1):
            if(company_response_parts_exc[1] != ''):
                row.Company = ' '.join(company_response_parts_exc[1:])

In [4]:
#data.to_csv('dataset/test_ideja.csv')

In [5]:
data.sample(10)

,User,Company
13804,"@sprintcare Will do in a day or two, however s...",Please send us a DM to facilitate -Resolutio...
17191,@GWRHelp what is your plan to allow the new tr...,Lewis
6820,"@115911 Netflix and chill, thanks to our #moto...",:) URL_POSITION *MikeVance
900,@AppleSupport I can not find an option to get ...,URL_POSITION
3939,@Delta I should've known there was a catch...f...,The airport is experiencing Air Traffic conge...
9049,@British_Airways No response yet - just debt c...,"@121760 Hi Rich, could you DM your case refere..."
7441,@TMobileHelp Thanks will have to do it another...,Make sure your device is unlocked that you'll...
6530,"In a bizarre twist, I’d like to thank @America...",@138452 Sounds like you found the #silverlinning!
15739,@sainsburys It was the Rustington store. But u...,@122041 Could you confirm the product from our...
7538,Thank You @115911 for not providing or solving...,"Please send us a DM, so we can make sure this..."

In [6]:
data.User[5814]

'@AmericanAir stuck on flight 609 in Charlotte over 55 minutes due to a computer card tech issue while pilot repeatedly advised it would only take a "few minutes" to fix. Why wasn\'t this issue reported by previous pilot that arrived minutes b4 we boarded in effort to save time?'

In [7]:
 for index, row in data.iterrows():
        row[0] = re.sub(r'@\w+', "", str(row[0]))
        row[1] = re.sub(r'@\w+', "", str(row[1]))

In [8]:
data.User[5814]

' stuck on flight 609 in Charlotte over 55 minutes due to a computer card tech issue while pilot repeatedly advised it would only take a "few minutes" to fix. Why wasn\'t this issue reported by previous pilot that arrived minutes b4 we boarded in effort to save time?'

In [9]:
data.to_csv('dataset/test_ideja.csv', index=False)